*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--gray100);
  scroll-behavior: smooth;
}

/* hide scrollbars, keeping scroll functionality */
:root::-webkit-scrollbar {
  display: none;
}

:root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
